<p id="notice"><%= notice %></p>
<div class="post-container">
  <h1>Posts</h1>
  <% @posts.each do |post|%>
    <div>
      <div>
        <h2><%= post.title %></h2><br/>
        <% if user_signed_in? %>
          <p><%= post.user %></p>
        <% end %>
      </div>
      <div>
        <h4><%= post.body %></h4>
      </div>
    </div>
  <% end %>
</div>

<br>
<% if user_signed_in? %>
  <h2>You can create you post right here!</h2>
  <%= link_to 'New Post', new_post_path %>
<% end %>
