<!DOCTYPE html>
<html>
  <head>
    <title>Members Area</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice_notification() %>
    <%= alert_notification() %>

    <nav class="navbar">
      <div class="container">
        <%= buttons(user_signed_in?)%>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
